a {
   text-decoration: none;
   color: white;
   font-family: 'Sansita', sans-serif;
}





.arrow-down::after{
   content: "";
   width: 30px;
   height: 30px;
   position: absolute;
   margin: auto;
   top: 90%;
   right: 0;
   bottom:-65%;
   left: 0;
   border-right: 4px solid #fff;
   border-bottom: 4px solid #fff;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-animation: 3s arrow infinite ease;
   animation: 3s arrow infinite ease;
   cursor: pointer;
 
}

@-webkit-keyframes arrow {
   0%, 100% {
      top: 50px;
   }
   50% {
      top: 80px;
   }
}

@keyframes arrow {
   0%, 100% {
      top: 50px;
   }
   50% {
      top: 80px;
   }
}

a:hover {
   color: #e85143;
}
#navbar {
   display: grid;
   min-height:60px;
   grid-auto-flow: column;
   padding-left: 100px;
   padding-right:  0;
   margin-right: 150px;
 
  
}
 
#links {
   display: grid;
   justify-content: end;
   align-content: center;
   grid-auto-flow: column;
   font-size: 20px;
   grid-gap: 20px;
 
   
}
 
.img {
   width: 650px;
  

 
}
 
.intro {
  
   padding: 50px;
   
}
.hero {
   display:flex;
   align-items: center;
   padding: 0px;
   height: 420px;
   padding-right: 5%;
   padding-left: 5%;
   scroll-behavior: auto;
   margin-top: 100px;
}
 
h4 {
   font-size: 35px;

   font-family: 'Sahitya', serif;
 
  
   color: #455695;
}
  
 h1 {
     font-size: 50px;
     font-family: 'Russo One', sans-serif;
     color: white;
      
 } 
  .hero .intro p {
     font-size: 20px;
     font-family: 'Amiko', sans-serif;
     color: white;
     letter-spacing: 1px;
     margin-bottom: 40px;
     margin-top: -10px;
     
     
 }


 .background
 {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Images/background.jpg) repeat fixed 100%;
    padding-bottom: 170px;
    background-position: center;
    color: white;
    display: table;
    padding-bottom: 220px 
 
 }

 .Project
 {
  
      width: auto;
      height: 100px;
      background-color: #F5F4FF;
      margin-top: -50px;
      display:flex;
      align-items: center;
      justify-content: center;
 
 }

 

 .container
 {
    position:relative;
    max-width: 1150px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 75px;
    
    
    
 
 }
 .container .card
{
   position: relative;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 100px 0;
   transition: 0.70s;
   
}
.container .card:nth-child(odd)
{
   flex-direction: row;
}

.container .card:nth-child(even)
{
   flex-direction: row-reverse;
   text-align: right;
}

.container .card .imgBX{
   position: relative;
   left: 25px;
   width: 500px;
   height: 400px;
   z-index: 1;
   
  
}

.container .card:nth-child(even) .imgBX
{
   left: -25px;
}

.container .card .imgBX img 
{
   position: absolute;
   top: 0;
   left: 20px;
   width: 100%;
   height: 100%;
   object-fit:cover;
   width: 100%;
}

.container .card:hover
{
transform: scale(1.2); 


}
.container .card .contentBX
{
   position: relative;
   right: 0px;
   width: 500px;
   height: 400px;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 60px 20px 100px;
   box-sizing: border-box;
   
}
.container .card:nth-child(even) .contentBX
{
   right: -25px;
   padding: 20px 100px 20px 60px;
}


.container .card .contentBX:before
{
   content: '';
   position: absolute;
   top: -50px;
   bottom: -50px;
   left: 0;
   right: 0;
   background: #000;
   z-index: -1;

}
.container .card .contentBX h2
{
   font-size: 30px;
   color: #fff;

}

.container .card .contentBX p{
   margin-top: 10px;
   color: #fff;
   letter-spacing: 1px;
}

.container .card .contentBX p:before
{
   margin-top: 10px;
   color: #fff;
   letter-spacing: 1px;
}
.container .card .contentBX .button 
{
   display: inline-block;
   margin-top: 15px;
   color: #fff;
   text-decoration: none;
   padding: 10px 20px;
   border: 1px solid #fff;
   cursor: pointer;
   transition: 0.8s;
   position: relative;
   overflow: hidden;
   background: none;


}


.container .card .contentBX .button:hover
{
   background-color:white;
   color: black;

}

/*-----page scroll----*/




/*-----footer----*/
footer a {
   text-decoration: none;
   color: white;
}
a:hover {
   color: #e85143;
}

.footer {
   display: grid;
   min-height:200px;
   grid-auto-flow: column;
   padding-left: 100px;
   padding-right: 100px;
   background-color: #373232;
   
}

#link {
   display: grid;
   justify-content: center;
   align-content: center;
   grid-auto-flow: column;
   font-size: 20px;
   grid-gap: 80px;
   
}
footer h3 {
   font-size: 25px;
   padding: 30px;
   font-family: 'Sansita', sans-serif;
   display: grid; 
  justify-content: center;
  margin-top: 20px;
}
h3 {
   display: grid;
   min-height:30px;
   grid-auto-flow: column;
   padding-left: 100px;
   padding-right: 100px;
   background-color: white;
   color: black;
   margin: 0px;
   letter-spacing: 1px;
   
}
.button1 {
   border: none;
   color: #121010;
   padding: 4px 10px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin: 4px 2px;
   display: flex;
   border-radius: 3px;
   font-family: 'Amiko', sans-serif;
   background-color:#61E1E9;
 }
 .img4 {
   width: 30px;
   margin-top: 150px;
   margin-left: 150px;
}
.img5 {
   width: 30px;
   margin-top: 150px;
}
.img6 {
   width: 30px;
   margin-top: 150px;
   
}

@media (max-width: 1000px)
{
   .container .card
   {
      flex-direction: column;
      max-width: 350px;
    
   }
   .container .card .imgBX
{
    width: 100%;
    height: 250px;  
    left: -20px; 
    margin: 25px 25px;
}
.container .card .contentBX
{
   width: 100%;
   height: 250px;
   right: 0px;
   padding: 30px;
   text-align: center;
   margin: 25px;
}

.contentBX .card .contentBX:before
{
   top:0;
   bottom: 0;
}
.container .card:nth-child(even) .imgBX
{
   left: -20px;
}
.container .card.card:nth-child(even) .contentBX
{
   right: 0;
   padding: 30;
}
.container .card .contentBX
{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: justify;
}
.container .card .contentBX p:before
{
   margin-top: 30px;
}
}